body {
    margin: 0%;
    padding: 0%;
    font-family: "Rubik", sans-serif;
}

.font-1 {
    font-family: "Satisfy", cursive;
}

#home {
    background-image: url("https://translineholidays.com/admin/content/15-05-2021-11-28-30-amslider-1.webp");
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

select#pkg {
    border:0px;
    outline:0px;
    background: none;
 }

 ul {
    margin: 0%;
 }

.nav {
    height: 20vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    /* padding-right: 5%; */
}


.nav-sub {
    /* border: 1px solid red; */
    width: 60%;
}

.nav-sub li{
    display: inline-block;
    /* border: 1px solid red; */
    color: white;
    /* padding-right: 5%; */
    margin-right: 5%;
    font-size: 20px;
}

#pkg {
    color: white;
    font-size: 20px;

}

option {
    color: black;
}

.tvl {
    font-size: 50px;
    color: rgb(228, 159, 10);
    text-shadow: 1px 1px 2px black;
}

.gd {
    padding-left: 8px;
    font-size: x-large;
}

.home-txt {
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    display: flex;
}

.h1 {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
}

.h2 {
    height: 100%;
    width: 40%;
    /* border: 1px solid red; */
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.692);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 60px;
}

.h2 span {
    padding: 20px;
}

.h-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-btn button {
    background-color: rgb(26, 136, 81);
    width: 10%;
    height: 40px;
    border-radius: 5px;
    border-color: green;
    color: white;
    font-size: large;
}

.packages {
    width: 100%;
    height: 120vh;
}

.p-head {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: xx-large;
    margin-top: 20px;
}

.p-body {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
        /* border: 1px solid red; */
    height: 80vh;
    position: relative;
    display: flex;
}

.p-card {
    border: 1px solid rgba(128, 128, 128, 0.274);
height: 100%;
width: 25%;
padding: 25px;
}

.p-card img {
    border-radius: 5px;
}

.c1, .c2, .c3 {
    border-right: none;
}

.c1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.c4 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-h {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-h h4 {
    color: red;
}

.dis {
    text-align: justify;
}

.c-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.c-btn button {
    color: white;
    background-color: rgba(0, 0, 255, 0.705);
    border-color: blue;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
}

.lst-btn {
    margin-top: 80px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lst-btn button {
    border-radius: 50px;
    padding: 10px;
    color: white;
    background-color: blue;
    border-color: blue;
    font-weight: 700;
}

.fest {
    width: 100%;
    height: 140vh;
    background-color: rgba(128, 128, 128, 0.158);
}

.f-head {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 500;
}

.f-img {
    width: 100%;
    display: flex;
    position: relative;
}

.f-img img {
    position: absolute;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    height: 400px;
}

.f-img-text {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.f-img-text .p1 {
    font-size:50px;
    font-weight: 600;
    color: blue;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.f-img-text .p2 {
    color: white;
    font-size: larger;
}

.f-img-text button {
    padding: 10px;
    border-radius: 5px;
    border-color: aqua;
    background-color: aqua;
}

.f-2 {
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    margin-top: 20px;
}

.vd-1 {
    width: 45%;
}

.pt-1 {
    width: 45%;
}

.north {
    width: 100%;
    height: 120vh;
}

.sub-north {
    width: 80%;
    height: 300px;
    margin-left: 10%;
    /* border: 1px solid red; */
    display: flex;
}

.n1 {
    border: 1px solid rgba(128, 128, 128, 0.329);
    width: 21%;
    height: 300px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
}

.hr {
    margin-top: 30px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.281);
}

.n1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: 10%;
}

.f-head span {
    color: red;
    font-size: medium;
    font-style:italic;
    margin-top: -60px;
}

.sub-pre {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid red; */
    height: 250px;
    display: flex;
}

.s1 {
    border: 1px solid rgba(128, 128, 128, 0.329);
    width: 18%;
    height: 250px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.096);
}

.sub-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.sub-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-img p {
    font-size: large;
    font-weight: 500;
}

.sub-img span {
   color: blue;
}

.c-rating {
    width: 100%;
    height: 65vh;
    background-color: rgba(128, 128, 128, 0.096);
    margin-top: 30px;
}

.c-head {
    width: 100%;
    height: auto;
    padding-top: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: 600;
    font-style: italic;
    font-size: larger;
}

.c-body {
    width: 100%;
    display: flex;
    height: auto;
    /* border: 1px solid red; */
    justify-content: space-around;
}

.cb {
    width: 20%;
    /* border: 1px solid red;  */
    height: 250px; 
}

.cb img {
 width: 100%;
 height: 150px;
}

.rating {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating i {
    padding: 5px
}

.cb .review {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
}

.cb .name {
    margin-top: 0%;
    font-size: larger;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
}


.about {
    width: 100%;
    height: 60vh;
    /* border: 1px solid red; */
    background-color: rgb(17, 17, 75);
}

.about-b {
    display: flex;
}

.a1, .a2, .a3 {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.a1 {
    width: 25%;
    height: 90%;
}

.a2 {
    width: 37.5%;
    height: 90%;
}


.a3 {
    width: 37.5%;
    height: 90%;
}

.a1-2 {
    width: 60%;
    align-self: self-end;
    color: white;
}

.a1-2 h2 {
    color: orange;
}

.icons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.a2 h2 {
    color: orange;
}

.a3 img {
    width: 60%;
    border-radius: 50%;
    margin-top: 10px;
}

.footer {
    width: 100%;
    color: white;
    font-weight: 100;
    font-size: small;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}